<div class="loading-modal__content is-animated">
  <div class="loader">
    {{#each dots}}<div class="loader__dot"></div>{{/each}}
  </div>
  <div class="loader__text">
    Evaluating form submission <span class="loader__ellipsis"></span>
  </div>
</div>
